.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 30px;
  padding-left: 50px;
  background: #afc5ff;
  color: white;
  position: relative;
  z-index: 1;
}

.Nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  list-style: none;
  font-size: 24px;
}
